# ============================================================================
# Local
# ============================================================================

[include]
path = "~/.dotfiles/local/gitconfig"